.videoSidebar {
    position: absolute;
    top: 50%;
    right: 10px;
    color: white;
    padding-top: 50px;
}

.videoSidebar__button {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}